.App {
  overflow-x: hidden;
}

.containergggggg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 12rem;
}

.card {
  background-color: deepskyblue !important;
}

div .App > h1 {
  background-color: antiquewhite;
  position: fixed;
  z-index: 99999999999;
  width: 100%;
}

.statecard {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.Loading {
  background-color: red;
  margin-top: 5%;
}

.Search-country {
  width: 50%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2rem;
}

.containergggggg .card:nth-child(3n) {
  background-color: red !important;
}

.input-group {
  min-width: 14rem;
}
